body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 250px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: darkred;
}
